### Import necessary liabraries

In [1]:
import pandas as pd
import numpy as np

### Load the file created in part1 and create a second dataframe using the file for latitudes and longitutudes

In [20]:
df_toronto = pd.read_csv('toronto_part1.csv', index_col=[0])
df_toronto.head()

  Postcode       Borough                                      Neighbourhood
0      M1C   Scarborough             Highland Creek, Rouge Hill, Port Union
1      M3J    North York                    Northwood Park, York University
2      M4E  East Toronto                                        The Beaches
3      M1P   Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
4      M9C     Etobicoke                                      Markland Wood

In [7]:
df_ll = pd.read_csv('Geospatial_Coordinates.csv')
df_ll.rename(index=str, columns={"Postal Code": "Postcode"}, inplace=True)
df_ll.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

### Join the two dataframes based on postcode

In [21]:
df_toronto2 = pd.merge(df_toronto, df_ll, on='Postcode')
df_toronto2.to_csv('toronto_part2.csv')

In [22]:
df_toronto2.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
1,M3J,North York,"Northwood Park, York University",43.767980,-79.487262
2,M4E,East Toronto,The Beaches,43.676357,-79.293031
3,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
4,M9C,Etobicoke,Markland Wood,43.643515,-79.577201
5,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
6,M1S,Scarborough,Agincourt,43.794200,-79.262029
7,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
8,M5X,Downtown Toronto,"First Canadian Place, Underground city",43.648429,-79.382280
9,M4V,Central Toronto,"Deer Park, Rathnelly, South Hill",43.686412,-79.400049